<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.senai.controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecuperar</servlet-name>
        <servlet-class>br.com.senai.controller.ServletRecuperar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastro</servlet-name>
        <servlet-class>br.com.senai.controller.ServletCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertUsuario</servlet-name>
        <servlet-class>br.com.senai.controller.ServletInsertUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastroCurso</servlet-name>
        <servlet-class>br.com.senai.controller.ServletCadastroCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertCurso</servlet-name>
        <servlet-class>br.com.senai.controller.ServletInsertCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerAluno</servlet-name>
        <servlet-class>br.com.senai.controller.ServletGerAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateUser</servlet-name>
        <servlet-class>br.com.senai.controller.ServletUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteUser</servlet-name>
        <servlet-class>br.com.senai.controller.ServletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerProf</servlet-name>
        <servlet-class>br.com.senai.controller.ServletGerProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteProf</servlet-name>
        <servlet-class>br.com.senai.controller.ServletDeleteProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateProf</servlet-name>
        <servlet-class>br.com.senai.controller.ServletUpdateProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerCurso</servlet-name>
        <servlet-class>br.com.senai.controller.ServletGerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateCurso</servlet-name>
        <servlet-class>br.com.senai.controller.ServletUpdateCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCurso</servlet-name>
        <servlet-class>br.com.senai.controller.ServletDeleteCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfToAluno</servlet-name>
        <servlet-class>br.com.senai.controller.ServletProfToAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecuperar</servlet-name>
        <url-pattern>/ServletRecuperar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastro</servlet-name>
        <url-pattern>/ServletCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertUsuario</servlet-name>
        <url-pattern>/ServletInsertUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastroCurso</servlet-name>
        <url-pattern>/ServletCadastroCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertCurso</servlet-name>
        <url-pattern>/ServletInsertCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerAluno</servlet-name>
        <url-pattern>/ServletGerAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateUser</servlet-name>
        <url-pattern>/ServletUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteUser</servlet-name>
        <url-pattern>/ServletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerProf</servlet-name>
        <url-pattern>/ServletGerProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteProf</servlet-name>
        <url-pattern>/ServletDeleteProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateProf</servlet-name>
        <url-pattern>/ServletUpdateProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerCurso</servlet-name>
        <url-pattern>/ServletGerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateCurso</servlet-name>
        <url-pattern>/ServletUpdateCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteCurso</servlet-name>
        <url-pattern>/ServletDeleteCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfToAluno</servlet-name>
        <url-pattern>/ServletProfToAluno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
